PS C:\Developer\Priya\DevOps-Monitoring\k8s-monitoring-project\app> git rev-parse --show-toplevel
C:/Developer/Priya/DevOps-Monitoring/k8s-monitoring-project
PS C:\Developer\Priya\DevOps-Monitoring\k8s-monitoring-project\app> 